/* The animation code */
@keyframes example {
  0%   {background-color: white;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* HTML Selectors */
.html-example {
  & > div {
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
}
